tabulate==0.8.9
torch==1.7.0
transformers==3.5.1
adapter-transformers==1.1.1
scikit-learn==0.24.1
nltk==3.5
wandb
pandas
metis
pip install pytorch_metric_learning


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

cd /knowledge-infusion/src/knowledge_infusion/relation_prompt
./train_wikiroberta.sh



conda install pytorch=1.7.0 torchvision torchaudio cudatoolkit=10.2 -c pytorch

run_webquestionfusion.sh